[submodule "files"]
	path = files
	url = https://github.com/cirosantilli/files
[submodule "git-tutorial"]
	path = git-tutorial
	url = https://github.com/cirosantilli/git-tutorial
[submodule "markdown-styleguide"]
	path = markdown-styleguide
	url = https://github.com/cirosantilli/markdown-styleguide
[submodule "db"]
	path = db
	url = https://github.com/cirosantilli/db
