[submodule "db"]
	path = db
	url = https://github.com/cirosantilli/db-cheat.git
[submodule "files"]
	path = files
	url = https://github.com/cirosantilli/files.git
[submodule "git-tutorial"]
	path = git-tutorial
	url = https://github.com/cirosantilli/git-cheat.git
[submodule "web-cheat"]
	path = web
	url = https://github.com/cirosantilli/web-cheat.git
