*:hover > a.toc-header-link {
	margin-left: 10px;
	display: inline-block;
	text-decoration: none;
}
*:hover > a.toc-header-link:before {
	color: black;
	content: "\f0c1";
	font-family: FontAwesome;
	font-size: 20px;
}
