body {
  background-color: #222;
  margin: 0px;
  /*
    font-family:"Courier New",Courier,monospace;"Times New Roman",Georgia,Serif;
    color: #00BB00;
    background-color: black;
  */
}

/* Shared */

a.nav:link,
a.nav:hover,
a.nav:visited {
  text-decoration: none;
}
a.nav:link,
a.nav:visited {
  color: #28F;
}
a.nav:hover {
  color: red;
}

/* Parts */

a.header {
  background-color: #000;
  border-bottom: 1px solid #000; /* Make color toggle users happy. https://addons.mozilla.org/en-US/firefox/addon/color-toggle/ */
  display: block;
  font-size: 45px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin: 0px 0px 10px;
  text-align: center;
}
a.header > div {
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  width: 800px;
}
a.header img {
  height: 59px;
  margin-right: 10px;
  position: relative;
  top: 0px;
  vertical-align: top;
}
a.header *.tagline {
  font-size: 25px;
}

div.content, div.comments {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px auto;
  max-width: 800px;
  padding: 5px 15px 10px;
  position: relative;
}
div.content h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
div.content a:visited {
  color: purple;
}
/* Override the above */
div.content .sidebar a:visited {
  color: #28F;
}
div.content .sidebar a:hover {
  color: red;
}
div.content table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: left;
}
div.content td, div.content th {
  border: 1px solid black;
  padding: 2px 4px;
}
div.content th {
  font-weight: bold;
}
div.content pre {
  margin-left: 30px;
}
div.page-title, .comments .title {
  border-bottom: 1px solid black;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar {
  float: right;
  left: 100%;
  margin: 0px 10px;
  position: absolute;
  top: 0%;
  vertical-align: top;
  width: 120px;
}
.sidebar > div {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
}
.sidebar div.title {
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sidebar .title, .sidebar .nav {
  padding-left: 10px;
}
.sidebar .nav {
  display: block;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
}
.sidebar .nav > :first-child {
  font-size: 20px;
  margin-right: 2px;
  vertical-align: top;
}
i.fa-envelope-o {
  color: black;
}
i.fa-skype {
  color: green;
}
i.fa-twitter {
  color: #28F;
}
i.fa-exclamation-circle {
  color: red;
}
i.fa-github {
  color: black;
}
i.fa-stack-overflow {
  color: DarkOrange;
}

/*#disqus*/
/*div#disqus_thread {*/
  /*border-top: 1px solid black;*/
  /*padding-top: 20px;*/
/*}*/

#sharethis {
  height: 84px;
  margin-top: 7px;
  padding-right: 5px;
  text-align: right;
}
#sharethis > div:not(:last-child) {
  margin: 0px 0px 5px;
}
/* Breaks with bootstrap without this: http://stackoverflow.com/questions/18165901/twitters-bootstrap-3-with-sharethis-widget*/
#sharethis span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*#addthis*/
/*.addthis_toolbox {*/
  /*border-top: 1px solid black;*/
  /*padding-top: 10px;*/
/*}*/

/* Section */

#patches-table tr > :nth-child(1),
#patches-table tr > :nth-child(3) {
  text-align: center;
}

#bugs-table tr > :nth-child(1) {
  text-align: center;
}

#languages-table tr > :nth-child(1) {
  text-align: center;
}
#other-tech-table tr > :nth-child(1) {
  text-align: center;
}
#natural-languages-table tr > :nth-child(1) {
  text-align: center;
}
