body {
  margin: 0px;
  /*
    font-family:"Courier New",Courier,monospace;"Times New Roman",Georgia,Serif;
    color: #00BB00;
    background-color: black;
  */
}

a.header {
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 10px;
  padding: 5px 10px;
  background-color: #000;
  text-align: center;
  display: block;
}
a.header > div {
  width: 800px;
  padding: 0px 15px;
  margin: 0px auto;
  text-align: left;
}
a.header img {
  height: 40px;
}
a.header:link,
a.header:hover,
a.header:visited {
  text-decoration: none;
}
a.header:link,
a.header:visited {
  color: #FFF;
}
a.header:hover {
  color: #28F;
}
a.header *.tagline {
  font-size: 20px;
}

div.content {
  width: 800px;
  margin: 10px auto;
  padding: 5px 15px;
  border: 1px solid black;
  position: relative;
}
div.content h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid black;
}
div.content table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
}
div.content td, div.content th {
  border: 1px solid black;
  padding: 2px;
}
div.content th {
  font-weight: bold;
}
div.content pre {
  margin-left: 30px;
}
div.page-title {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
div.content h1 { font-size: 35px; }
div.content h2 { font-size: 30px; }
div.content h3 { font-size: 25px; }
div.content h4 { font-size: 20px; }
div.content h5 { font-size: 15px; }
div.content h6 { font-size: 10px; }

.sidebar {
  border: 1px solid black;
  margin: 0px 10px;
  float: right;
  position: absolute;
  left: 100%;
  top: 0%;
  width: 115px;
  vertical-align: top;
  padding: 5px;
}
.sidebar > :not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.sidebar div.title {
  font-weight: bold;
}
.sidebar a.feedback {
  text-align: center;
  display: block;
}

/*#disqus*/
/*div#disqus_thread {*/
  /*border-top: 1px solid black;*/
  /*padding-top: 20px;*/
/*}*/

/*#addthis*/
/*.addthis_toolbox {*/
  /*padding-top: 10px;*/
  /*border-top: 1px solid black;*/
/*}*/

/*#sharethis */
.sidebar div.share-this {
  text-align: right;
  height: 80px;
}
.sidebar div.share-this > div:not(:last-child) {
  margin: 0px 0px 5px;
}

